[submodule "matrix"]
	path = matrix
	url = https://github.com/spantaleev/matrix-docker-ansible-deploy.git
[submodule "mash-playbook"]
	path = mash-playbook
	url = https://github.com/mother-of-all-self-hosting/mash-playbook.git
